* {
  margin: 0;
  padding: 0; }

.grid-container {
  display: grid; }

.btn-enviar {
  cursor: pointer; }

.form-contacto {
  padding: 15px;
  margin: 25px;
  border-radius: 7px;
  border: solid grey 0.5px;
  font-family: 'Poppins', sans-serif; }
  .form-contacto .form-nico {
    font-weight: bold;
    text-align: center; }

.negro {
  background-color: black; }

ul {
  background-color: #202020; }
  ul .contacto-direccion {
    color: white;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif; }
  ul .contacto-telefono {
    color: white;
    font-weight: bold;
    font-family: 'Poppins', sans-serif; }
  ul .contacto-email {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-style: italic; }

form {
  background-color: white;
  color: #f01515; }

footer {
  display: flex;
  background-color: grey;
  font-family: 'Poppins', sans-serif;
  font-weight: 800; }

body {
  color: white;
  background-color: black;
  font-family: 'Poppins', sans-serif; }

h1 {
  font-optical-sizing: 50px;
  color: #f77c50;
  font-family: 'Poppins', sans-serif; }

p {
  color: white;
  font-weight: 900;
  font-family: 'Poppins', sans-serif; }

.link-nav {
  font: 700;
  color: white;
  text-decoration: dashed;
  background-color: blacj; }

.portada {
  background-image: url(../recursos/REDES_11.png);
  display: flex;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  justify-content: center;
  align-items: center; }

.portada_texto {
  width: 300px;
  height: 238px;
  left: 0px;
  top: 51px;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif; }

.parrafodj {
  color: white;
  background-color: none;
  margin: 1rem;
  padding: 1rem;
  padding-left: 1rem; }

.h3dj {
  color: white; }

.imagendj {
  margin-left: 10rem; }

.logo_index {
  height: 30px;
  padding-left: 50px; }

div {
  font-family: 'Poppins', sans-serif; }

.menu__color {
  color: black;
  font-weight: 500;
  background-color: white; }
