.grid-container{
  display: grid

}


.btn-enviar{
  cursor: pointer;
}

.form-contacto{
  padding: 15px;
  margin:25px;
  border-radius: 7px;
  border: solid grey 0.5px;
  font-family: 'Poppins', sans-serif;

} 

.form-nico{
font-weight: bold;
text-align: center;
}

.contacto-direccion{
  text-transform: capitalize;
  font-family: 'Poppins', sans-serif;

}

.contacto-telefono{
  font-weight: bold;
  font-family: 'Poppins', sans-serif;

  
}
.contacto-email{
  font-family: 'Poppins', sans-serif;
  font-style: italic;
}

.negro{
  background-color: black;
}

ul{
  color: rgb(255, 255, 255);

}

form{
background-color: black;
color: rgb(255, 255, 255);
  
}

footer{ 
  display: flex;
  background-color: grey;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  

}
body{ 
  color: rgb(255, 255, 255);
  background-color:  rgb(0, 0, 0); 
  font-family: 'Poppins', sans-serif

}

h1{ 
  font-optical-sizing: 50px;
  color: rgb(247, 124, 80);
  font-family: 'Poppins', sans-serif
  
}

p{
  color: white;
  font-weight: 900;
  font-family: 'Poppins', sans-serif
   }



.link-nav{
  
  font: 700;
  color: white;
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;


}

.link-nav:hover{

  color: red;
}

.portada{
  background-image: url(../recursos/REDES_11.png);
  display: flex;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  justify-content: center;
  align-items: center;


}
.portada_texto{


width: 300px;
height: 238px;
left: 0px;
top: 51px;



font-style: normal;
font-weight: 600;
font-size: 30px;


text-align: center;
text-transform: uppercase;
font-family: 'Poppins', sans-serif;
}


.parrafodj{
  color: white;
  background-color:none;
  margin: 1rem;
  padding: 1rem;
  padding-left: 1rem;

}

.h3dj{

color: white;

}
.imagendj{
  
margin-left: 10rem;



}

.logo_index{
  height: 30px;
  padding-left: 50px;
}

div {
  font-family: 'Poppins', sans-serif;
}

.menu__color{ 

  font-weight: 500;
  
}

